<h1>New Group</h1>
<%= form_for @group, :html => {:class => 'pure-form'} do |f| %>
<%= f.label(:author_id, 'Author: ') %>
<% authors_array = @authors.map { |author| [author.name, author.id]} %>
<%= f.select(:author_id, options_for_select(authors_array)) %>
<%= f.label(:name, 'Name: ') %>
<%= f.text_field :name %>
<button class="pure-button-primary pure-button">Create Group</button>
<% end %>