<!DOCTYPE html>
<html>
<head>
  <title>Groups of Stuff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= link_to(fa_icon('home', class: 'fa-2x nav-icon'), root_path) %>
<div class="main-container">
<%= yield %>
</div>
</body>
</html>
